<section>
    <input type="file" accept="images/*" (change)="selectArchivo($event)">
</section>
<section *ngIf="imgResul">
    <button type="button" class="btn btn-primary detectar" (click)="ejecutarCbir()">Detectar</button>
</section>
<br>
<section *ngIf="respuesta">
    <button type="button" class="btn btn-primary detectar" (click)="abrirmodal()">Resultado</button>
</section>
<div class="row mt-2">
    <div class="col-4">
        <section class="imgCropper" *ngIf="imgUrl">
            <h4>Recortar imagen</h4>
            <angular-cropper [imageUrl]="imgUrl" #angularCropper></angular-cropper>
            <div class="mt-2">
                <button class="btn btn-primary" (click)="obtenerImg()">Recortar</button>
            </div>
        </section>
    </div>
    <div class="col-4">
        <section *ngIf="imgResul">
            <h4>Imagen recortada</h4>
            <img class="imgCropper" [src]="imgResul" alt="...">
        </section> 
    </div>
</div>
