<div class="m-5 d-flex justify-content-center">
    <div class="card" style="width:40ren;">
        <div class="card-body">
            <section>
                <input type="file" accept="images/*" (change)="selectArchivo($event)">
            </section>
            <section class="imgCropper" *ngIf="imgUrl">
                <angular-cropper [imageUrl]="imgUrl" #angularCropper></angular-cropper>
                <div class="mt-2">
                    <button class="btn btn-primary" (click)="obtenerImg()">Recortar</button>
                </div>
            </section>
            <section *ngIf="imgResul">
                <img [src]="imgResul" alt="...">
            </section>
            <div class="mt-2">
                <button class="btn btn-primary" (click)="ejecutarCbir()">Ejecutar</button>
            </div>
        </div>
    </div>
</div>